.section{
  color:white;
  margin-top: 20px;
}
.sectionTitle{
  /*border-radius: 15px 15px 0 0;*/
  /*background-color:#33333D ;*/
  /*color:white;*/
  /*padding: 5px;*/
  font-size:60px ;
}
.sectionItem{
  margin: 10px;
}
.question{

}
.question__text{
  font-size: 30px;
  height: 60px;
  display: flex;
  align-items: center;
}
.question__text:hover{
  background-color: var(--blockBackground);
  cursor: pointer;
}
.question__answer{
  margin-top: 10px;
}

