<div>
  <div *ngIf="faqIsReady">
    <div class="section" *ngFor="let section of FAQ">
      <div class="sectionTitle">{{section[0].section.name}}</div>
      <div class="sectionItem question " *ngFor="let question of section">
        <div class="question__text underline" (click)="question.reveal=!question.reveal">
          {{question.question}}
        </div>
        <div class="question__answer" *ngIf="question.reveal" [innerHTML]="question.answer">
          {{question.answer}}
        </div>
      </div>
    </div>
  </div>
</div>
