<div >
  <div class="footer">
    <div><a class="footer__logoContainer" href="" style="padding-left: 10px;">
      <img class="footer__logo" src="/assets/site_images/dq_logo.png" alt="dq_logo">
      <img class="menu_img footer__title" src="/assets/site_images/dq_title.png" alt="dq_title">
    </a></div>
    <div>
      <div *ngIf="!isUserAuth">
        <div class="menu_item"><a href="/login">Войти</a></div>
      </div>
      <div *ngIf="isUserAuth" class="footer__auth">
        <div class="menu_item">{{userName}}</div>
        <div class="menu_item"><div (click)="logout()">Выйти</div></div>
      </div>
    </div>
    <div>
      <div class="footer__iconsContainer">
        <div><a href="https://vk.com/daiquwair" target="_blank">
          <div
            class="footer__icon" style="background-image:url('assets/icons/social/vk-icon.png')"></div>
        </a></div>
        <div><a href="https://t.me/daiquwairnews" target="_blank">
          <div
            class="footer__icon" style="background-image:url('assets/icons/social/telegram-icon.png')"></div>
        </a></div>
        <div><a href="https://dtf.ru/u/723612-dai-quwair" target="_blank">
          <div
            class="footer__icon" style="background-image:url('assets/icons/social/dtf-icon.png')"></div>
        </a></div>
        <div><a href="https://www.reddit.com/r/DaiQuwair/" target="_blank">
          <div
            class="footer__icon" style="background-image:url('assets/icons/social/reddit-icon.png')"></div>
        </a></div>
      </div>
    </div>
  </div>

</div>
