<div>
  <form>
    <div class="sectionTitle">Добавление FAQ</div>
    <ul>
      <li>
        <label>
          Вопрос
          <div>
            <input type="text" name="question" [(ngModel)]="FAQuestion.question">
          </div>
        </label>
      </li>
      <li>
        Раздел вопросов
        <div>
          <select [(ngModel)]="FAQuestion.section" name="position">
            <option *ngFor="let section of sections" [value]="section">{{section.name}}</option>
          </select>
        </div>
      </li>
      <li>
        <label>
          Ответ
          <div>
            <input type="text" name="answer" [(ngModel)]="FAQuestion.answer">
          </div>
        </label>
      </li>
    </ul>
    <div class="button buttonTransparent" (click)="addFAQ()"><div>Добавить ответ</div></div>
  </form>
</div>

