<div>
  <form>
    <div class="sectionTitle">Вход для разработчика</div>
    <div>
      <div>
        <label>
          Почта
          <div>
            <input type="text" name="email" [(ngModel)]="email">
          </div>
        </label>
      </div> <div>
      <label>
        Пароль
        <div>
          <input type="password" name="password" [(ngModel)]="password">

        </div>
      </label>
    </div>
      <div>
        <div class="buttonTransparent" (click)="login()">Войти</div>
      </div>
    </div>
  </form>

</div>
