
  <div class="padding"></div>
  <div class="rate">
    <div class="rate__button rate__plus" (click)="setRating(1)">↑</div>
    <div>{{note.rate}}</div>
    <div class="rate__button rate__minus" (click)="setRating(-1)">↓</div>
  </div>
  <div *ngIf="noteIsReady">
    <div class="note">
      <app-user-card [userData]="author" nameColor="blue"></app-user-card>
      <div class="sectionTitle">{{note.title}}
      </div>
      <div *ngIf="note.cover_path!=''" class="note__coverContainer"><img alt="cover" class="note__cover"
                                                                         src="{{note.image_url}}"></div>
      <div [innerHTML]="note.content">{{note.content}}</div>
      <div>{{note.date}}</div>
    </div>

        <app-comments [note]="note"></app-comments>
  </div>

