<div>
  <div class="banner__block" [ngStyle]="{'background-image': 'url(assets/site_images/career_page.jpg)'}">
    <div class="banner__overlay"></div>
    <div class="banner__text">
      <h2 class="banner__text__title text_shadow">Присоединяйся к нашей команде!</h2>
      <div class="banner__text__slogan text_shadow"></div>
    </div>
  </div>
  <div class="padding"></div>
  <div *ngIf="careersReady">
    <h4 class="sectionTitle">Мы ищем</h4>
    <div class="padding"></div>
    <section class="gridWrapper">
      <div class="blockBackground career__block">
        <h4 class="sectionTitle">Арт и анимация</h4>
        <div *ngFor="let career of careers.art" class="button buttonTransparent career__button">
          <div class="subsection">
            <ul>
              <li> {{career.name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blockBackground career__block">
        <h4 class="sectionTitle">Программирование</h4>
        <div *ngFor="let career of careers.programming" class="button buttonTransparent career__button">
          <div class="subsection">
            <ul>
              <li> {{career.name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blockBackground">
        <h4 class="sectionTitle">Звуковое сопровождение</h4>
      </div>
    </section>

  </div>
  <div class="padding"></div>

</div>
