<div *ngIf="isAdmin">
  <div class="actionPanel">
    <div class="buttonSection">
      <div class="sectionTitle">Пользователи</div>
      <div class="button buttonTransparent" (click)="isCreatingUser=!isCreatingUser">Создание пользователя</div>
    </div>
    <div class="buttonSection">
      <div class="sectionTitle">FAQ</div>
      <div class="button buttonTransparent" (click)="addFAQ()">Добавить ответ FAQ</div>
      <app-faq-list></app-faq-list>
    </div>
    <div class="buttonSection">
      <div class="sectionTitle">Игры</div>
      <div class="button buttonTransparent" (click)="addGame()">Добавление игры</div>
      <app-game-list></app-game-list>
    </div>
    <div class="buttonSection">
      <div class="sectionTitle">Вакансии</div>
      <div class="button buttonTransparent" (click)="isCareerEditing=!isCareerEditing">Управление вакансиями</div>
    </div>
    <div class="buttonSection">
      <div class="sectionTitle">Прочее</div>
      <div class="button buttonTransparent" (click)="isAddingPosition=!isAddingPosition">Управление должностями</div>
      <div class="button buttonTransparent" (click)="isTagEditing=!isTagEditing">Управление активными тегами</div>
    </div>
  </div>
  <div class="forms_block">
    <!--    Добавление должности-->
    <div *ngIf="isAddingPosition">
      <div><span>Все должности</span>
        <div *ngFor="let position of positions">
          <div>{{position.name}}</div>
        </div>
      </div>
      <form>
        <div class="sectionTitle"> Добавление должности</div>
        <div>
          <label>
            Название должности
            <div>
              <input type="text" name="position_name" [(ngModel)]="newPosition.positionName">
            </div>
          </label><br>
          <label>
            Системное название на английском, без специальных знаков
            <div>
              <input type="text" name="system_name" [(ngModel)]="newPosition.systemName">
            </div>
          </label>
        </div>
        <div class="button buttonTransparent" (click)="addPosition()">
          Добавить
        </div>
      </form>

    </div>
    <!--    Редактирование тегов-->
    <div *ngIf="isTagEditing">
      <div *ngFor="let tag of fire.systemData.tags">
        <div>{{tag.tagName}}</div>
      </div>
      <input type="text" [(ngModel)]="newTag" name="tag">
      <button (click)="addTag(newTag)">Добавить тег</button>
    </div>
    <!--    Создание пользователя-->
    <div *ngIf="isCreatingUser" style="margin-left: 500px">
      <form>
        <div class="sectionTitle">Добавление пользователя</div>
        <ul>
          <li><label>
            <span>Никнэйм</span>
            <div><input type="text" name="nickname" required [(ngModel)]="newUser.nickname">
            </div>
          </label></li>
          <li><label>
            <span>Имя</span>
            <div>
              <input type="text" name="name" required [(ngModel)]="newUser.name">
            </div>
          </label></li>
          <li><label>
            <span>Фамилия</span>
            <div>
              <input type="text" name="surname" required [(ngModel)]="newUser.surname">
            </div>
          </label></li>
          <li><label>
            <span>Email</span>
            <div>
              <input type="text" name="email" required [(ngModel)]="newUser.email">
            </div>
          </label></li>
          <li><label>
            <span>Пароль</span>
            <div><input type="text" name="password" required [(ngModel)]="newUser.password"></div>
          </label></li>
          <li><label>
            <span>Роль</span>
            <div>
              <select [(ngModel)]="newUser.role" name="role">
                <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
              </select>
            </div>
          </label></li>
          <li><label>
            <span>Должность</span>
            <div>
              <select [(ngModel)]="newUser.position" name="position">
                <option *ngFor="let position of positions" [ngValue]="position">{{position.name}}</option>
              </select>
            </div>
          </label></li>
        </ul>
        <div class="button buttonTransparent" (click)="createUser()">Создать пользователя</div>

      </form>
    </div>
    <!--    Управление вакансиями-->
    <div *ngIf="isCareerEditing">
      <form name="careerAdding">
        <div class="sectionTitle">Добавление вакансии</div>
        <ul>
          <li>
            <label>
              <span>Раздел вакансии</span>
              <div>
                <select [(ngModel)]="newCareer.section" name="section">
                  <option *ngFor="let section of careerSections" [ngValue]="section">{{section.sectionName}}</option>
                </select>
              </div>
            </label>
          </li>
          <li>
            <label>
              Название
              <div>
                <input [(ngModel)]="newCareer.name" type="text" name="title">
              </div>
            </label>
          </li>
          <li>
            <label>
              Короткое описание
              <div>
                <input [(ngModel)]="newCareer.shortDescription" type="textarea" name="shortDescr">
              </div>
            </label>
          </li>
          <li>
            <label>
              Полное описание
              <div>
                <input [(ngModel)]="newCareer.fullDescription" type="textarea" name="fullDescr">
              </div>
            </label>
          </li>
        </ul>
        <div class="button buttonTransparent" (click)="addCareer()">Добавить вакансию</div>

      </form>
    </div>
    <!--    FAQ управление-->
    <div *ngIf=getFaqFormInfo()>
      <app-faq-form></app-faq-form>
    </div>
    <div *ngIf="getGameFormInfo()">
      <app-game-form></app-game-form>
    </div>
  </div>
  <div>
    <div class="button buttonTransparent" (click)="addPoint()">Добавить пункт</div>
    <div *ngIf="road.roadmapIsReady">
      <app-pointlist (startEdit)="isPointAdding=true"></app-pointlist>
    </div>
    <!--    Создание пункта роадмап-->
    <div class="manageBlock" *ngIf="isPointAdding">
      <app-add-roadpoint></app-add-roadpoint>
    </div>
  </div>

</div>
