<div>
  Наши игры:
  <div *ngIf="gamesReady">
    <div *ngFor="let game of games">
      <div class="gameBlock" routerLink="/game-page" (click)="fire.selectedGame=game">
        <div>{{game.title}}</div>
        <div [innerHTML]="game.description">{{game.description}}</div>
        <div><img style="width: 200px;height:200px" src="{{game.coverUrl}}"></div>
        <div class="tag_container">
          <div *ngFor="let genre of game.genres">
            <div class="tag_button">{{genre}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
