
.banner{
  height: 500px;
  width: 100%;
  background-image: url('../../assets/site_images/homepage_banner.jpg') ;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__title{
  font-size: 60px;
  color: white;
}

.hotNewsSlider{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-top: 20px;
}

.hotNewsSlider__item{
  margin-left: 20px;
  width: 30%;
}

.hotNewsSlider__cover{
  width: 100%;
  height: 500px;
}

.hotNewsSlider__title{
  display: flex;
  justify-content: center;
}

.team__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team__member{
  margin: 10px;
  border-radius: var(--borderRadius);
  background-color:var(--blockBackground);
  color:white;
  height: 250px;
  width: 180px;
}
.team__member>div{
  display: flex;
  justify-content: center;
}
.team__avatar{
  width: 180px;
  height: 140px;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.team_name{
  font-size: 25px;
}
